body {

background-image: url('../images/moroccan-flower-dark.png');
color: pink;
font-family: 'Meiryo', sans-serif;
text-align: center;
}

#main {
background-color:grey;
border: 1px soild;
border-color:black;
color: pink ;
padding: 0px 20px 20px 20px;
width:60%;
height:auto;
margin-left: 20%;
margin-right: 20%;
}
