body {
background-image: 
color: pink;
font-family: 'Meiryo', sans-serif;
}

#main {
background-color:grey;
border: 1px soild;
corder-color:black;
color;#333333;
padding: 0px 20px 20px 20px;
width:60%;
height:auto;
margin-left: 20%;
margin-right: 20%;
}